<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
            &nbsp;&nbsp;·&nbsp;&nbsp;
            <span id="busuanzi_container_site_uv"> 
		  		访客数 <span id="busuanzi_value_site_uv"></span> 人/次
			</span>
            <br>
            <!-- Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>. Theme by <a href="http://github.com/ppoffice">PPOffice</a> -->
        </div>
    </div>
</footer>